<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'create_account' %}">create account</a></li>
                <li><a href="{% url 'category_list' %}">categories</a></li>
                <li><a href="{% url 'create_category' %}">create category</a></li>
                <li><a href="{% url 'create_receipt' %}">create receipt</a></li>
                <li><a href="{% url 'home' %}">home</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <table class="accounts-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
              </tr>
            </thead>
            <tbody>
              {% for account in accounts.all%}
              <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number}}</td>
                <td>{{ account.receipts.all|length}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
</body>
</html>
